<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> QR Scanner </ion-title>
  </ion-toolbar>
</ion-header>

<div class="barcode-scanner-container">
  <div class="barcode-scanner--area--container">
    <div class="relative">
      <p>Aim your camera at a barcode</p>
    </div>
    <div class="square surround-cover">
      <div class="barcode-scanner--area--outer surround-cover">
        <div class="barcode-scanner--area--inner"></div>
      </div>
    </div>
  </div>
</div>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="w-full">
      <div class="button-container">
        <ion-button expand="block" (click)="startScan()" [hidden]="showCamera"
          >Scan QR Code</ion-button
        >
        <ion-button expand="block" (click)="stopScan()" [hidden]="!showCamera"
          >Stop QR Code</ion-button
        >
      </div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Result</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-textarea placeholder="Type something here" [value]="scanResult">
          </ion-textarea>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
