<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> QR Scanner </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="w-full">
      <div class="button-container">
        <ion-button expand="block" (click)="startScan()"
          >Scan OR Code</ion-button
        >
        <ion-button expand="block" (click)="stopScan()"
          >Stop OR Code</ion-button
        >
      </div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Result</ion-card-title>
        </ion-card-header>

        <ion-card-content> {{scanResult}} </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
